body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul li {
    list-style: none;
}
input,textarea,select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
/* header */
.headerBox {
    height: 102px;
    position: relative;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    display: inline-block;
    width: 170px;
    height: 103px;
    margin-top: 35px;
    background: url(../img/logo.png) no-repeat;
}

.bg {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 10px;
    background: url(../images/header-bg.png) repeat-x;
}
/* section */
.login{
    position: relative;
    height: 483px;
    background: #eeeeee;
}
.main{
    background: url(../img/登陆.jpg) no-repeat center;
    height: 100%;
}
.login_box{
    width: 320px;
    height: 416px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 50%;
    margin: -208px 30px 0 195px;
    background-color:#fff;
    padding: 0 20px;
    font-size: 12px;
    font-family: "simsun",Verdana,Arial;
}
.login_box .login_title{
    position: relative;
    border-bottom:1px solid #ededed;
    padding-bottom: 10px;
    padding-top: 18px;
    line-height: 36px;
}
.login_title .name{
    font-size: 18px;
    color: #010101;
    font-family: "microsoft yahei", Verdana,Arial;
    font-weight: normal;
}
.login_title .link{
    font-size: 12px;
    color: #e40850;
    position: absolute;
    right: 0;
    top: 20px;
    font-weight: normal;
}
.ligin_form{

}
.form_list{
    position: relative;
    border: 1px solid #bfbfbf;
    height: 41px;
    overflow: hidden;
    margin-bottom: 15px;
}
.form_list .input_text {
    position: relative;
    z-index: 1;
    width: 260px;
    height: 21px;
    margin: 10px 15px 10px 45px;
    border: 0;
    outline:medium;
}
.form_list .icon_user{
    background: url(../img/icon-login-user.gif) no-repeat;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 2;
    vertical-align: middle;
    margin-top: -10px;
}
.form_list .icon_pass {
    background: url(../img/icon-login-password.gif) no-repeat;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 2;
    vertical-align: middle;
    margin-top: -10px;
}
.input_yzm{
    width: 100%;
    height: 100%;
    border: 0;
    padding-left: 15px;
}
.form_list img {
    position: absolute;
    top: 0;
    right: 0;
    width: 95px;
    height: 41px;
}
.login_tool{
    line-height: 30px;
    margin-bottom: 8px;
}
.label_check input{
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 5px;
    color: #333;
}
.login_tool .val{
    float: right;
    color: #333;
}
.loginbtn{
    display: block;
    border: 0;
    width: 100%;
    height: 47px;
    line-height: 47px;
    text-align: center;
    color: #ffff;
    background-color: #ff3736;
    font-size: 18px;
    font-family: "microsoft yahei", Verdana, Arial;
}
.other{
    margin-top: 10px;
    color: #7c7c7c;
    line-height: 22px;
}
.other label{
    line-height: 41px;
    display: inline-block;
    vertical-align: middle;
}
.other .wx{
    background: url(../img/icon-login-wx-default.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 6px;
    line-height: 40px;
}
.other .qq{
    background: url(../img/icon-login-qq-default.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 6px;
    line-height: 40px;
}
/* footer */
.footerBox {
    border-top: 1px solid #e7e7e7;
    font-family: "simsun",Verdana,Arial;
}
.footerBox .contact {
    width: 200px;
    float: left;
    text-align: center;
}

.footerBox .contact .p1 {
    color: #5c5b5b;
    font-size: 22px;
    line-height: 33px;
}

.footerBox .contact .p2 {
    color: #565656;
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 15px;
}

.copyright {
    font-size: 12px;
    color: #7f7f7f;
    padding: 30px 0 30px 0;
}

.copyright p {
    line-height: 30px;
    text-align: center;
}