body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,
form,fieldset,legend,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}
.zeroderbor{
    background:url(../imgs/taocandi.jpg) no-repeat;
}
.zeroderbor ul li img {
    vertical-align: middle;
}
.top{
    width: 1200px;
    margin: 0 auto;
}
img{
    border: 0;
}
.top1{
    display: inline-block;
}
.top2{
    display: inline-block;
    float: left;
    margin-top: 0;
}
.foot {
    width: 1200px;
    margin: 0 auto;
}
.foot1 {
    display: inline-block;
}
.foot2 {
    display: inline-block;
    float: left;
}